.background {
  width: 100%;
  height: 100vh;
  background: url('../../assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.container{
  position: absolute;
  width: 75vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.loginContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.loginContainer .logo {
  font-size: 30px;
}

.text-sci h2 {
  text-align: left;
  font-size: 40px;
}

.text-sci h2 span{
  text-align: left;
  font-size: 25px;
}

.text-sci p {
  text-align: left;
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.5;
}

.social-icons a .icon {
  float: left;
  font-size: 22px;
  color: #e4e4e4;
  margin-top: 10px;
  margin-right: 10px;
  transition: all 300ms ease;
}

.social-icons a:hover .icon {
  transform: scale(1.2);
}

.logreg-box{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e4e4e4;
}

.logreg-box .form-box.login {
  transform: translateX(0);
  transition: .7s ease;
  transition-delay: .7s;
}

.logreg-box.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.logreg-box .form-box.register {
  transform: translateX(430);
  transition: .7s ease;
  transition-delay: 0s;
}

.logreg-box.active .form-box.register {
  transform: translateX(0);
  transition-delay: .7s;
}


.logreg-box .form-box.register {
  transform: translateX(430px);
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
}

.form-box span {
  display: flex;
  justify-content: flex-start;
}

.form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  padding-right: 28px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 500;
  transition: 300ms ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -3px;
}

.input-box .icon {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}

.form-box .remember-forgot {
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot lable input {
  accent-color: #dedede;
  margin-right: 3px;
}

.remember-forgot a {
  color: #e4e4e4;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #c4103d;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-register {
  font-size: 14.5px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;

}

.login-register p a {
  color: #e4e4e4;
  font-weight: 600;
  text-decoration: none;
}

.login-register p:hover a {
  text-decoration: underline;
}